<section class="background py-28 pb-0 min-h-screen overflow-y-auto items-center">
  <div class="text-center">
    <ng-container *ngFor="let word1 of 'About Me'.split(' ')">
      <span class="word text-3xl font-bold text-black mb-12 text-center animate-fade-in">
        <ng-container *ngFor="let char of word1.split('')">
          <span class="hover-rotate">{{ char }}</span>
        </ng-container>
      </span>&nbsp;
    </ng-container>
  </div>
  <div class="about-content space-y-8 m-72 mt-0 mb-24">
    <div class="flex items-center">
      <img src="first.svg" alt="image" class="w-48 mr-10">
      <p>
      Hello! I am Juan Manuel Serrano Rodríguez, a Systems Engineering student at Universidad Distrital Francisco José de Caldas, currently in my tenth semester. My passion for technology and innovation drives me to explore various facets of software development, including frontend and backend development, data science, and artificial intelligence.
      </p>
    </div>
    <div class="flex items-center flex-row-reverse">
      <img src="second.svg" alt="image" class="w-48 ml-10">
      <p>
      I have been involved in projects that demonstrate my ability to apply theoretical knowledge. My main technical skills include Python, Java, C++, Angular, React, Tailwind, LaTeX, NumPy, and Pandas. I am continuously learning new tools, and I am known for my responsibility, proactivity, and dedication to excellence.
      </p>
    </div>
    <div class="flex items-center">
      <img src="third.svg" alt="image" class="w-48 mr-10">
      <p>
      Outside of my academic activities, I spend most of my time expanding my knowledge in the field of systems engineering and delving deeper into areas of interest. I also have a creative side that I express through various artistic hobbies such as crafting and painting.
      </p>
    </div>
  <!--<div class="flex items-center flex-row-reverse">
      <img src="fourth.svg" alt="image" class="w-48 ml-10">
      <p>
      Objectives<br>
      In the short term, my goal is to land an internship or junior-level position where I can contribute to dynamic development teams, bringing fresh perspectives and innovative solutions. My long-term goal is to become an experienced software engineer specializing in artificial intelligence and data science, leading impactful projects that advance technology and improve lives.
      </p>
    </div> -->
  </div>
</section>