<section class="background py-28 min-h-screen overflow-y-auto items-center">
  <div class="text-center">
    <ng-container *ngFor="let word1 of 'About Me'.split(' ')">
      <span class="word text-3xl font-bold text-black mb-12 text-center animate-fade-in">
        <ng-container *ngFor="let char of word1.split('')">
          <span class="hover-rotate">{{ char }}</span>
        </ng-container>
      </span>&nbsp;
    </ng-container>
  </div>
    <p class="text-center mt-4">
      I’m a passionate developer with a love for creating beautiful, functional applications.
    </p>
</section>