<section id="works" class="works background py-28 min-h-scree overflow-y-auto bg-gray-300 font-comic">
  <div class="container mx-auto ping">
    <h2 class="text-3xl font-bold text-black mb-12 text-center animate-fade-in">Mis Proyectos</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 justify-self-center justify-items-center">
      <app-project-card 
        *ngFor="let project of projects" 
        [project]="project">
      </app-project-card>
    </div>
  </div>
</section>