<div class="text-center min-h-screen bg-light flex items-center justify-center">

  <section class="flex w-full max-w-4xl items-center justify-center">
    <!-- Mensaje de bienvenida -->
    <div class="flex-1 text-center">
      <h1 class="text-4xl font-bold mb-4 text-primary animate-fade-in">¡Bienvenido a mi Portafolio!</h1>
      <p class="text-xl text-secondary animate-fade-in">Soy Juan Serrano, estudiante de Ingeniería de Sistemas</p>
    </div>

    <!-- SVG del rostro -->
    <div class="flex-1 flex items-center justify-center">
      <img src="face.svg" alt="Rostro" class="w-50 h-50 object-cover">
    </div>
  </section>
</div>