<!-- home.component.html -->
<div class="text-center bg-gray-200 min-h-screen flex flex-col items-center justify-center overflow-y-auto mt-14 md:mt-5">
  <section class="flex flex-col md:flex-row w-full max-w-4xl items-center justify-center">
    <div class="order-2 md:order-1 flex-1 text-center px-8">
      <h1 class="text-3xl font-bold mb-4 text-black animate-fade-in" style="font-family: 'Comic Sans MS', cursive, sans-serif;">¡Welcome to my portfolio!</h1>
      <p class="text-2xl text-black animate-fade-in" style="font-family: 'Comic Sans MS', cursive, sans-serif;">
        I am a System Engineering student with a passion for the arts, programming, and exact sciences. My journey is fueled by a love for learning and creativity. Focused on frontend, backend and application development.
      </p>
    </div>
    <div class="order-1 md:order-2 flex-1 max-w-max mt-10 pl-10 md:pl-0">
      <div [innerHTML]="svgContent" class="relative w-50 h-50"></div>
    </div>
  </section>
</div>