/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      @apply font-comic;
    }
  }
  
::-webkit-scrollbar {
    display: none;
}


.background{
    background-color: #c2c2c2;
    opacity: 0.9;
    background-size: 50px 50px;
    background-image:  repeating-linear-gradient(0deg, #888888, #777777 0.1px, #e5e5f7 0.6px, #e5e5f7);
}
