/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
  }

  .animate-fade-in-delay {
    animation: fade-in 1s ease-out 0.5s forwards;
  }

  @keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }

  .animate-slide-in {
      animation: slide-in 1s ease-out forwards;
  }
}

@layer base {
    body {
      @apply font-comic;
    }
  }
  
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #e5e5f7;
  opacity: 0.9;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.background{
    background-color: #c2c2c2;
    opacity: 0.9;
    background-size: 50px 50px;
    background-image:  repeating-linear-gradient(0deg, #888888, #777777 0.1px, #e5e5f7 0.6px, #e5e5f7);
}


.hover-rotate {
  display: inline-block;
  transition: transform 0.2s ease;
}

.hover-rotate:hover {
  transform: scaleX(1.4) rotate(7deg);
}

.word {
  display: inline-block;
  white-space: nowrap;
}


